.ModalBackground{
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
  position: fixed;
  top: -2rem;
  left: -2rem;
  right: -2rem;
  bottom: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  margin: 2rem;
}