.form{
  width: 100%;
  max-width: 500px;
  background-color: rgb(12, 12, 12);
  padding: 2.5rem;
  border-radius: 6px;
}
.form label{
  display: block;
  margin-bottom: 1rem;
}
.form .text{
  width: 100%;
  display: block;
  font-size: 1.3rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.034);
  color: white;
  border-radius: 4px;
  padding: .8rem 1rem;
}
.TodoForm-button{
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: none;
  padding: .6rem 1rem;
  border-radius: 4px;
  transition: all ease .3s;
}
.TodoForm-button:hover{
  background-color: rgb(224, 224, 224);
}
.TodoForm-button--cancel{
  margin-right: 1rem;
}
.TodoForm-buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}