.CreateTodoButton{
  position: fixed;
  z-index: 10;
  background-color: rgb(10, 104, 167);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 1rem .9rem;
  font-size: 2rem;
  line-height: 1rem;
  cursor: pointer;
  transition: all ease .5s;
  border: 2px solid white;
  right: 1rem;
  bottom: 1rem;
}
.CreateTodoButton:hover{
  background-color: rgb(23, 127, 197);
}