.CreateTodoButton{
  position: relative;
  z-index: 10;
  background-color: rgb(15, 15, 15);
  color: white;
  border: none;
  border-radius: 4px;
  padding: .7rem 1.4rem;
  cursor: pointer;
  transition: all ease .5s;
  border: 2px solid white;
}
.CreateTodoButton:hover{
  background-color: rgb(41, 41, 41);
}